body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif; /* Ændret skrifttype */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ændret fra height til min-height */
    background: #000;
  }
  
  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px; /* Tilføjet padding for at forhindre overlapning ved kanterne */
  }
  
  #front-page {
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  
  #header {
    font-size: 24px;
    margin-top: 20px;
  }
  
  #intro-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
  }
  
  #header2 {
    font-size: 14px;
    margin-top: 20px;
  }
  
  #start-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  #start-button {
    width: 150px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif; /* Ændret skrifttype */
    cursor: pointer;
  }
  
  #start-button:hover {
    background-color: #45a049;
  }
  
  #form-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(173, 173, 173); /* Tilføjet hvid baggrund */
    color: black; /* Ændret tekstfarve til sort */
    padding: 20px; /* Tilføjet padding */
    border-radius: 10px; /* Tilføjet afrundede hjørner */
  }
  
  .input-box {
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #333;
    border: none;
    color: white;
    padding: 10px;    
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; /* Ændret skrifttype */
    text-align: center;
    cursor: pointer;
  }
  
  .selected {
    background-color: #4CAF50;
  }
  
  #submit-btn {
    width: 150px;
    height: 40px;
    background-color: grey;
    color: white;
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif; /* Ændret skrifttype */
    cursor: pointer;
  }
  
  #submit-btn:hover {
    background-color: #4CAF50;
  }
  
  #response-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    overflow: auto; /* Tilføjet for at muliggøre scrolling */
  }
  
  #response {
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif; /* Ændret skrifttype */
    margin-bottom: 20px;
  }
  
  #image-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #generated-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }

  #background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url('gifs/darkroom.webp') no-repeat center center/cover;
}
  